.demo-button, .button{
  padding: 1em 2em;
  line-height: 1.82em;
  letter-spacing: .05em;
  display: inline-block;
  border-radius: 5em;
  font-weight: bold;
  background: @white;
  font-size: .8em;
  color: @text-color;
}

.button{
  background: @text-color;
  color: @white;
}

