.line-right-purple, .line-left-purple, .line-right-purple, .line-left-purple{
  position: relative;
}

.line-right-purple:after,
.line-left-purple:after{
  content: '';
  position: absolute;
  right: -.5em;
  top: 50%;
  width: 1em;
  height: 4px;
  @media(max-width: @breakpoint) {
    display: none;
  }
}

.line-right-purple:after,
.line-left-purple:after{
  background: @purple;
}

.line-left-purple:after{
  left: -.5em;
}

.big-circle-right{
  position: absolute;
  right: 0;
}
