.macbook{
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  background: #333;
  padding: 5%;
  padding-bottom: 7%;
  position: relative;
  width: 100%;
}

.macbook:after, .macbook:before{
  content: '';
  position: absolute;
  background: linear-gradient(to bottom, #555 0%, #333 100%);
  height: 5%;
  left: 0;
  left: -6%;
  right: -6%;
  border-bottom-left-radius: 7% 80%;
  border-bottom-right-radius: 7% 80%;
  top: 100%;
}

.macbook-shadow{
  content: ' ';
  position: absolute;
  height: 10%;
  top: 105%;
  border-top-left-radius: 10% 100%;
  border-top-right-radius: 10% 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 80%);
  left: -10%;
  right: -10%;
}


.macbook:after{
  background: #555;
  height: 2%;
  border-radius: 0;
}

.macbook > img{
  max-width: 100%;
  display: block;
}

.iphone, .iphone-white{
  padding: 10% 3% 14% 3%;
  position: relative;
  display: inline-block;
  border-radius: .8em; 
  width: auto;
  background: #333;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4);

  &:after{
    content: '';
    position: absolute;
    padding: 6%;
    left: calc(50% - 6%);
    border-radius: 200%;
    background: #444;
    bottom: 2%;
  }

  &:before{
    content: '';
    position: absolute;
    height: 1.2%;
    width: 16%;
    left: 50% - 8%;
    background: #444;
    border-radius: .5em;
    top: 2.3%;
  }

  @media(max-width: @breakpoint) {
    border-radius: .4em;
    &:before{
    border-radius: .3em;
    }
  }
}

.iphone-white{
  background: #eee;
  &:before, &:after{
    background: #ddd;
  }
}
