input{
  padding: @margin-small @margin;
  border-radius: .5em;
  display: inline-block;
  border: none;
  font-size: inherit;
  background: @white;
}

input[type="submit"] {
  background: @text-color;
  color: @light-grey;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

@media(max-width: @breakpoint) {
  input{
    padding: @margin-small;
  }
}
