@import "./variables";
.left{ float: left !important; }
.right{ float: right !important; }
.inline{ display: inline; }
.inline-block{ display: inline-block; }
.one-sixth{ width: 100% / 6; }
.one-third{ width: 100% / 3; }
.one-quarter{ width: 100% / 4; }
.three-quarters{ width: 100% / 4 * 3; }
.half{ width: 50%; }
.two-thirds{ width: (100% / 3 * 2); }
.full-width{ width: 100%; }
.block{ display: block; }
.margin-auto{ margin: auto; }
.width-130-percent{ width: 130% !important; }
.width-150-percent{ width: 150% !important; }
.padding{ padding: 1em; }
.max-width-100-percent{ max-width: 100%; }
.max-width-half{ max-width: 50%; }
.max-width-third{ max-width: 100% / 3; }
.pull-left{ margin-left: -35%;}
.hide{ display: none; }

.icon-small{
  max-width: 60px;
  max-height: 60px;
}


.z-index-1{ z-index: 1; }
.z-index-2{ z-index: 2; }
.z-index-3{ z-index: 3; }

.center-child{
  display: flex;
  justify-content: center;
}

.vertical-center-right{
  display: flex;
  justify-content: flex-end;
}

.vertical-center-right > *{
  align-self: center;
}

/* Backgrounds */
.bg-yellow{ background-color: @yellow !important; }
.bg-purple{ background-color: @purple !important; }
.bg-white{ background-color: @white !important; }
.bg-teal{ background-color: @teal !important; }
.bg-green{ background-color: @green !important; }
.bg-pink-color{ background-color: @text-color !important; }
.bg-blue{ background-color: @blue !important; }
.bg-pink{ background-color: @pink !important; }
.bg-dgrey{ background-color: @dgrey !important; }
.bg-black{ background-color: @black !important; }
.bg-gradient{
  background: linear-gradient(to bottom, #4bc4db 0%,#5b9be3 51%,#7362f2 100%);
}

/* Text helpers */
.text-left{ text-align: left; }
.text-right{ text-align: right; }
.text-center{ text-align: center; }

/* Text colors */
.text-yellow{ color: @yellow; }
.text-purple{ color: @purple; }
.text-white{ color: @white; }
.text-teal{ color: @teal; }
.text-green{ color: @green; }
.text-pink-color{ color: @text-color; }
.text-pink{ color: @pink; }
.text-black{ color: @black; }
.text-dgrey{ color: @dgrey; }

.no-margin{ margin: 0; }

/* Margins */
.margin{ margin: @margin; }
.margin-small{ margin: @margin-small; }
.margin-large{ margin: @margin-large; }
.margin-huge{ margin: @margin-huge; }

.margin-left{ margin-left: @margin; }
.margin-left-small{ margin-left: @margin-small; }
.margin-left-large{ margin-left: @margin-large; }
.margin-left-huge{ margin-left: @margin-huge; }

.margin-right{ margin-right: @margin; }
.margin-right-small{ margin-right: @margin-small; }
.margin-right-large{ margin-right: @margin-large; }
.margin-right-huge{ margin-right: @margin-huge; }

.margin-bottom{ margin-bottom: @margin; }
.margin-bottom-small{ margin-bottom: @margin-small; }
.margin-bottom-large{ margin-bottom: @margin-large; }
.margin-bottom-huge{ margin-bottom: @margin-huge; }

.margin-top{ margin-top: @margin; }
.margin-top-small{ margin-top: @margin-small; }
.margin-top-large{ margin-top: @margin-large; }
.margin-top-huge{ margin-top: @margin-huge; }

/* Negative margins */

.margin-bottom-negative{ margin-bottom: -@margin; }
.margin-bottom-negative-small{ margin-bottom: -@margin-small; }
.margin-bottom-negative-large{ margin-bottom: -@margin-large; }
.margin-bottom-negative-huge{ margin-bottom: -@margin-huge; }

.margin-top-negative{ margin-top: -@margin; }
.margin-top-negative-small{ margin-top: -@margin-small; }
.margin-top-negative-large{ margin-top: -@margin-large; }
.margin-top-negative-huge{ margin-top: -@margin-huge; }

.margin-right-negative{ margin-right: -@margin; }
.margin-right-negative-small{ margin-right: -@margin-small; }
.margin-right-negative-large{ margin-right: -@margin-large; }
.margin-right-negative-huge{ margin-right: -@margin-huge; }

.margin-left-negative{ margin-left: -@margin; }
.margin-left-negative-small{ margin-left: -@margin-small; }
.margin-left-negative-large{ margin-left: -@margin-large; }
.margin-left-negative-huge{ margin-left: -@margin-huge; }

.box-shadow{ box-shadow: 2px 2px 15px rgba(0,0,0,.3); }
.relative{ position: relative; }

.pull-up{
  position: relative;
  top: -3em;
}

/* Paddings */
.padding{ padding: @margin; }
.padding-small{ padding: @margin-small; }
.padding-large{ padding: @margin-large; }
.padding-huge{ padding: @margin-huge; }

.padding-left{ padding-left: @margin; }
.padding-left-small{ padding-left: @margin-small; }
.padding-left-large{ padding-left: @margin-large; }
.padding-left-huge{ padding-left: @margin-huge; }

.padding-right{ padding-right: @margin; }
.padding-right-small{ padding-right: @margin-small; }
.padding-right-large{ padding-right: @margin-large; }
.padding-right-huge{ padding-right: @margin-huge; }

.padding-bottom{ padding-bottom: @margin; }
.padding-bottom-small{ padding-bottom: @margin-small; }
.padding-bottom-large{ padding-bottom: @margin-large; }
.padding-bottom-huge{ padding-bottom: @margin-huge; }

.padding-top{ padding-top: @margin; }
.padding-top-small{ padding-top: @margin-small; }
.padding-top-large{ padding-top: @margin-large; }
.padding-top-huge{ padding-top: @margin-huge; }

.no-padding-right{ padding-right: 0 !important;}
.no-padding-left{ padding-left: 0 !important;}
.no-padding-top{ padding-top: 0 !important;}
.no-padding-bottom{ padding-bottom: 0 !important;}

/* Text helpers */
.uppercase{ text-transform: uppercase; }
.letter-spacing-wide{ letter-spacing: .05em; }
.bold, .strong{ font-weight: bold; }
.margin-bottom{ margin-bottom: @margin; }

/* Layouts */
.vertical-middle{ vertical-align: middle; }
.flex{ display: flex; }
.flex-1{ flex: 1 !important; }
.flex-2{ flex: 2 !important; }
.flex-3{ flex: 3 !important; }
.flex-4{ flex: 4 !important; }
.flex-reverse{ flex-direction: row-reverse; }

.center-content{
  display: flex;
  vertical-align: middle;
  align-content: center;
  align-items: center;
}


.opacity-hover{
  transition: 300ms;
  opacity: .8;
  &:hover{
    opacity: 1;
  }
}

.center-content > *{ flex: 1; }
.align-items-center{ align-items: center; }
.align-items-baseline{ align-items: baseline; }

/* Borders */
.border-right{ border-right: 1px solid @border-color; }
.border-left{ border-left: 1px solid @border-color; }
.border-bottom{ border-bottom: 1px solid @border-color; }
.border-top{ border-top: 1px solid @border-color; }

.border-top-purple{ border-top: 3px solid @purple; }

.white-bg-text{
  display: inline-block;
  padding: .4em;
  margin: -.4em;
  background: #fff;
}

@media(max-width: @breakpoint) {
  .mob-half{ width: 50%; }
  .mob-full, .mob-full-width{ width: 100% !important; }
  .mob-flex-column{  }
  .mob-relative{ position: relative !important; }
  .mob-block{ display: block !important; }

  .mob-no-padding{ padding: 0 !important; }
  .mob-no-padding-right{ padding-right: 0 !important;}
  .mob-no-padding-left{ padding-left: 0 !important;}
  .mob-no-padding-top{ padding-top: 0 !important;}
  .mob-no-padding-bottom{ padding-bottom: 0 !important;}

  .mob-padding{ padding: @margin !important; }
  .mob-padding-small{ padding: @margin-small !important; }
  .mob-padding-large{ padding: @margin-large !important; }
  .mob-padding-huge{ padding: @margin-huge !important; }

  .mob-padding-left{ padding-left: @margin !important; }
  .mob-padding-left-small{ padding-left: @margin-small !important; }
  .mob-padding-left-large{ padding-left: @margin-large !important; }
  .mob-padding-left-huge{ padding-left: @margin-huge !important; }

  .mob-padding-right{ padding-right: @margin !important; }
  .mob-padding-right-small{ padding-right: @margin-small !important; }
  .mob-padding-right-large{ padding-right: @margin-large !important; }
  .mob-padding-right-huge{ padding-right: @margin-huge !important; }

  .mob-padding-bottom{ padding-bottom: @margin !important; }
  .mob-padding-bottom-small{ padding-bottom: @margin-small !important; }
  .mob-padding-bottom-large{ padding-bottom: @margin-large !important; }
  .mob-padding-bottom-huge{ padding-bottom: @margin-huge !important; }

  .mob-padding-top{ padding-top: @margin !important; }
  .mob-padding-top-small{ padding-top: @margin-small !important; }
  .mob-padding-top-large{ padding-top: @margin-large !important; }
  .mob-padding-top-huge{ padding-top: @margin-huge !important; }


  /* Margins */
  .mob-margin{ margin: @margin; }
  .mob-margin-small{ margin: @margin-small; }
  .mob-margin-large{ margin: @margin-large; }
  .mob-margin-huge{ margin: @margin-huge; }

  .mob-margin-left{ margin-left: @margin; }
  .mob-margin-left-small{ margin-left: @margin-small; }
  .mob-margin-left-large{ margin-left: @margin-large; }
  .mob-margin-left-huge{ margin-left: @margin-huge; }

  .mob-margin-right{ margin-right: @margin; }
  .mob-margin-right-small{ margin-right: @margin-small; }
  .mob-margin-right-large{ margin-right: @margin-large; }
  .mob-margin-right-huge{ margin-right: @margin-huge; }

  .mob-margin-bottom{ margin-bottom: @margin; }
  .mob-margin-bottom-small{ margin-bottom: @margin-small; }
  .mob-margin-bottom-large{ margin-bottom: @margin-large; }
  .mob-margin-bottom-huge{ margin-bottom: @margin-huge; }

  .mob-margin-top{ margin-top: @margin; }
  .mob-margin-top-small{ margin-top: @margin-small; }
  .mob-margin-top-large{ margin-top: @margin-large; }
  .mob-margin-top-huge{ margin-top: @margin-huge; }

  .mob-no-margin{ margin: 0 !important; }
  .mob-no-margin-right{ margin-right: 0 !important; }
  .mob-no-margin-left{ margin-left: 0 !important; }
  .mob-no-margin-top{ margin-top: 0 !important; }
  .mob-no-margin-bottom{ margin-bottom: 0 !important; }

  .mob-hide{ display: none; }
  .mob-show{ display: auto; }

  .mob-max-half{ max-width: 50%; }
  .mob-max-third{ max-width: 100% / 3; }

  .mob-pull-left{ margin-left: -35%;}
  .mob-max-height-half{ max-height: 50%; }
  .mob-max-height-200{ max-height: 200px; }

  .mob-one-sixth{ width: 100% / 6; }
  .mob-one-third{ width: 100% / 3; }
  .mob-one-quarter{ width: 100% / 4; }
  .mob-three-quarters{ width: 100% / 4 * 3; }
  .mob-half{ width: 50%; }
  .mob-two-thirds{ width: (100% / 3 * 2); }
  .mob-full-width{ width: 100%; }
  .mob-pull-up{
    position: relative;
    top: -3em;
  }

  .mob-border-top-purple{ border-top: 3px solid @purple; }

  .mob-text-left{ text-align: left; }
  .mob-text-right{ text-align: right; }
  .mob-text-center{ text-align: center; }
  .mob-no-border{ border: none; }
}

