.img-bg-crew{
  background: url(assets/bg/bg-crew.png) center;
  background-size: cover;
}

.img-bg-bbc{
  background: url(assets/bg/bg-bbc-case-study.png) center;
  background-size: cover;
}

.img-bg-product{
  background: url(assets/bg/bg-product.png) center;
  background-size: cover;
}

.img-bg-bbc-next-case-study{
  background: url(assets/img/bbc-case-study/Next_Case_Study.png) center;
  background-size: cover;
}
