body{
}

html, body{
  width: 100%;
  display: block;
  overflow-x: hidden;
}

img{
  max-width: 100%;
}

.container:extend(.clearfix){
  max-width: @container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: @margin;
  padding-right: @margin;
}

.container-large:extend(.clearfix){
  max-width: @container-large-max-width;
  margin-left: auto;
  margin-right: auto;
}

.case-study-square{
  width: 100px;
  height: 100px;
  &:extend(.center-child);
}
