.checklist li{
  margin-bottom: 1em;
  &:last-child{
    margin-bottom: 0;
  }
}

.checklist li:before{
  content: '\2714';
  background: @white;
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 1em;
  color: @purple;
  padding: .2em .3em .7em .5em;
  box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  border-radius: 150%;
}
