.inline-nav{
  display: inline-block;
  line-height: .9em;
}

.inline-nav > *{
  padding-right: @margin;
  display: inline-block;
}

.inline-nav-link {
  text-decoration: none;
  transition: 200ms;
  transition-timing-function: ease-out;
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
  opacity: .9;
  padding-bottom: 1em;
  padding-top: 1em;
  &:hover{
    opacity: 1;
  }
}


.inline-nav-link:after {
  content: '';
  width: 100%;
  height: 0.01em;
  position: absolute;
  left:0; 
  background: #fff;
  transition: 500ms;
  bottom: 0;
  opacity: 0;
}

.inline-nav-link:hover:after {
  left: 0;
  content: '';
  height: .4em;
  opacity: 1;
}

.inline-nav > *:last-child{
  padding-right: 0;
}

.footer-link{
  position: relative;
}

.footer-link:before{
  content: '';
  display: inline-block;
  width: 1em;
  margin-top: -.15em;
  position: relative;
  left: -1em;
  margin-left: -1em;
  height: 0.01em;
  vertical-align: middle;
  transition-timing-function: ease-out;
  background: @text-color;
  transition: 200ms;
  opacity: 0;
}

.footer-link:hover:before{
  left: -.2em;
  height: .3em;
  opacity: 1;
}


@media(max-width: @breakpoint){
  .inline-nav > *{
    padding-right: 0;
  }

  .burger-nav-burger{
    border-top: 4px solid @white;
    border-bottom: 4px solid @white;
    height: 28px;
    width: 2em;
    position: absolute;
    z-index: 9999;
    top: 1.7em;
    cursor: pointer;
    right: 1.8em;
    display: block;

    &:after{
      content: ' ';
      height: 4px;
      position: absolute;
      top: .53em;
      width: 100%;
      background: @white;
    }
  }

  .burger-nav-menu{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 500ms;
    position: relative;
    float: none;
    display: block;
    width: 100%;
    & ul{
      padding-top: @margin-huge;
      padding-bottom: @margin;
      background: @black;
    }
  }

  .burger-nav-menu li{
    display: block;
    a{
      padding-left: @margin;
      padding-right: @margin;
      width: 100%;
    }
    a.demo-button{
      width: auto;
      margin-left: @margin;
      margin-top: @margin;
    }
  }

  .burger-nav-menu-open.burger-nav-menu{
    max-height: 400px;
  }
}
