.app-isometric{
  width: 100%;
  position: relative;
}

.app-isometric img{
  position: relative;
  z-index: 1;
  max-width: none;
}

.app-isometric img:nth-child(1){
  margin-left: -50px;
}

.app-isometric img:nth-child(2){
  position: absolute;
  margin-top: -30px;
  margin-left: 180px;
}

.app-isometric img:nth-child(3){
  position: absolute;
  margin-top: 100px;
  margin-left: 150px;
}

.app-bg-circle{
  background: linear-gradient(to bottom, @teal 0%, @darker-teal 100%);
  position: absolute;
  z-index: 0;
  width: 55vw;
  height: 55vw;
  border-radius: 50vw;
  position: absolute;
  margin-left: 15%;
  margin-top: -15%;
}

.app-3-part img{
  box-shadow: 0px 5px 40px rgba(0,0,0,0.3);
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  max-width: 33%;

  &:first-child{
    margin-right: -1em;
    z-index: 0;
  }

  &:nth-child(2){
    max-width: 36%;
  }


  &:nth-child(3){
    margin-left: -1em;
    z-index: 0;
  }
}

@media(max-width: @breakpoint) {
  .app-bg-circle{
    margin-top: 5%;
    width: 100vw;
    height: 100vw;
  }
}


