@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@font-face {
  font-family: gilroy-extra-bold;
  src: url("assets/fonts/gilroy_extra_bold.eot");
  src:
    url("assets/fonts/gilroy_extra_bold.eot?#ie-fix") format("embedded-opentype"),
    url("assets/fonts/gilroy_extra_bold.woff2") format("woff2"),
    url("assets/fonts/gilroy_extra_bold.woff") format("woff"),
    url("assets/fonts/gilroy_extra_bold.ttf") format("truetype"),
    url("assets/fonts/gilroy_extra_bold.svg") format("svg");
}

body{
  font-family: Open Sans, Helvetica;
  font-size: @base-font-size;
  line-height: 1.66em;
  color: @text-color;
}

strong{
  font-weight: bold;
}

h1, .h1{
  font-size: 4.7em;
  line-height: 1.15em;
  font-family: gilroy-extra-bold;
}

h2, .h2{
  font-size: 2.4em;
  line-height: 1.35em;
  max-width: 23em;
  font-family: "gilroy-extra-bold";
}

h3, .h3{
  font-size: 1.5em;
  line-height: 1.25em;
  max-width: 23em;
  font-family: "gilroy-extra-bold";
}

.max-width-paragraph{
  max-width: 35em;
}

h4, .h4{
  font-size: 1.2em;
  line-height: 1.45em;
}

small, .small{ font-size: @base-font-size * .9; };
.smaller{ font-size: @base-font-size * .78; };
.larger{ font-size: @base-font-size * 1.2; };

@media(min-width: @breakpoint + 1) {
  .desktop-small{ font-size: @base-font-size * .9; };
  .desktop-smaller{ font-size: @base-font-size * .78; };
  .desktop-larger{ font-size: @base-font-size * 1.2; };
}

em, .em, .em-white{
  display: inline-block;
  position: relative;
}

em > *, .em > *, .em-white > *{
  position: relative;
}

em:before, .em:before, .em-white:before{
  content: ' ';
  display: block;
  background: rgba(255, 241, 69, 0.58);
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 42%;
}

.em-white:before{
  background: rgba(255, 255, 255, .4);
}

a{
  color: inherit;
  text-decoration: none;
}


@media(max-width: @breakpoint) {
  body{
    font-size: @base-font-size * 0.8;
  }

  h1, .h1{
    font-size: 2.7em;
    line-height: 1.15em;
  }

  h2, .h2{
    font-size: 2em;
    line-height: 1.35em;
  }

  .mob-small{ font-size: @base-font-size * .9; };
  .mob-smaller{ font-size: @base-font-size * .78; };
  .mob-larger{ font-size: @base-font-size * 1.2; };
}

