/* Colors */
@yellow: #e7eb51;
@purple: #7268eb;
@white: #fff;
@light-grey: #eee;
@teal: #41dbd6;
@darker-teal: #19cac4;
@green: #2cb39c;
@text-color: #3c3c47;
@border-color: #e0e0e0;
@pink: #d22c77;
@dgrey: #222222;

@black: #000;
@blue: #032f5e;

/* Margins */
@margin: 1.6em;
@margin-large: @margin * 1.6;
@margin-huge: @margin * 2.8;
@margin-small: @margin * .7;
@margin-tiny: @margin * .35;


/* Misc */
@base-font-size: 18px;
@container-max-width: 1000px;
@container-large-max-width: 1300px;

@breakpoint: 568px;
