    <div class="margin-bottom-negative-huge relative z-index-2 container bg-white padding">
      <div class="flex text-center">
        <a href="bbc-case-study.html" class="margin-bottom margin-right opacity-hover flex-1 center-content padding-top-large padding-bottom-large bg-pink">
          <img alt="BBC Logo" src="assets/svg/BBC_logo.svg">
        </a>
        <a href="bbc-case-study.html" class="margin-bottom opacity-hover flex-1 center-content padding-top-large padding-bottom-large bg-blue">
          <img alt="British Council Logo" src="assets/svg/British_Council_Logo.svg">
        </a>
      </div>
      <div class="flex text-center">
        <a href="bbc-case-study.html" class="margin-right  opacity-hover flex-1 center-content padding-top-large padding-bottom-large bg-dgrey">
          <img alt="MTV Logo" src="assets/svg/MTV_logo.svg">
        </a>
        <a href="bbc-case-study.html" class="opacity-hover flex-1 center-content padding-top-large padding-bottom-large bg-teal">
          <img alt="Public Health England Logo" src="assets/svg/PHE_logo.svg">
        </a>
      </div>
    </div>

